/.idea
/.debug
/.release
/.shell-completion
/.site
/.man
/Gemfile.lock
/default.profraw
.DS_Store
/.xcode-build
/.xcode-install-build
/.build
/.swiftpm
/.vscode
/.deps
/.local
/.aerospace.toml
xcuserdata/
xcshareddata/
